.post-container {
    border: 1px solid lightgrey;
    max-width: 640px;
    margin-top: 50px;
}

.post-con-header {
    display: flex;
    max-height: 60px;
    width: 66%;
    padding: 20px;
}

.thumbnail {
    border-radius: 50%;
    height: 30px;
    width: 30px; 
}

h2 {
    font-size: 1.35rem;
    padding-left: 20px;
    align-self: center;
}

.actions {
    display: flex;
    max-height: 50px;
}

.action-icon {
    height: 30px;
    width: 30px;
    padding: 10px;
}

.likes {
    padding-left: 10px;
}

.username {
    font-weight: 600;
    padding-right: 5px;
}

/* Comment Box for CommentSection.js */

.comment-box {
    display: flex;
    padding: 5px 10px;
}

.add-comment {
    width: 90%;
    border: none;
    border-top: 1px solid lightgrey;
    height: 50px;
    align-self: center;
    font-size: 1rem;
    padding-left: 10px;
}
